.control__container {
  margin-bottom: 10px;

  .search__field {
    padding-left: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
    height: 36px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 80%);
  }

  .lists__container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .list__container {
      margin: 0 10px 10px 0;
      margin-right: 10px;
      width: 32%;
    }

    .list__container:last-child {
      margin: 0 0px 0px 0;
    }

    .switch__container {
      display: flex;
      align-items: center;
      height: 38px;
    }
  }

  .calendar__container {
    display: flex;
    align-items: center;

    .pickers__container {
      display: flex;

      .picker__from {
        margin-right: 20px;
      }
    }

    .clear__filter__btn {
      margin-left: 10px;
      height: 38px;
      cursor: pointer;
    }
  }
}