.list__reuest {
  margin-right: 10px;
  max-height: 500px;
  width: 50%;
  overflow-y: auto;

  .item {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-left: 10px;
    .show__el{
      height: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;  
    }
    .hide__el{
      padding: 10px 0;
      background-color: rgb(226, 226, 226);
    }
    .show__el:hover{
      background-color: rgb(219, 219, 219);
    }
    .show__el:active{
      background-color: rgb(192, 192, 192);
    }
  }
}