.list__component{
  width: 50%;
  .list__reuest {
    margin-right: 10px;
    max-height: 500px;
    overflow-y: auto;
  
    .loader__container{
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .list__header {
      padding: 0 10px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #E7FFE7;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #6E6893;
    
      .name {
        width: 220px;
      }
  
      .data {
        width: 130px;
      }
  
      .update {
        width: 130px;
      }
  
      .address {
        width: 220px;
      }
    }
  
    .item {
      border-bottom: 1px solid rgb(218, 218, 218);
  
      .show__el {
        padding: 5px 10px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        transition: all 0.3s;
    
        .name {
          width: 220px;
          font-size: 14px;
        }
  
        .data {
          width: 130px;
  
          .status {
            border-radius: 10px;
            padding-left: 10px;
  
            svg {
              margin-right: 2px;
              width: 10px;
              height: 10px;
            }
          }
  
          .time {}
        }
  
        .update {
          width: 130px;
  
          .status {
            border-radius: 10px;
            padding-left: 10px;
  
            svg {
              margin-right: 2px;
              width: 10px;
              height: 10px;
            }
          }
  
          .time {}
        }
  
        .address {
          width: 220px;
          font-size: 14px;
        }
  
        .color__purple {
          background-color: #E6E6F2;
          color: #4A4AFF;
        }
  
        .color__green {
          color: #007F00;
          background-color: #CDFFCD;
        }
  
        .color__red {
          background-color: #EC2E15;
          color: #fff;
        }
  
        .color__light__red {
          background-color: #FFBABA;
          color: #7F0000;
        }
  
        .color__yellow {
          background-color: #FFECCC;
          color: #7F5400;
        }
      }
  
      .hide__el {
        padding: 10px;
        .item__data{
          margin-bottom: 10px;
          display: flex;
          font-size: 14px;
          .name{
            margin-right: 10px;
            width: 200px;
            flex-shrink: 0;
          }
          .data{

          }
        }
        .item__data:last-child{
          margin-bottom: 0;
        }
      }
  
      .show__el:hover {
        background-color: rgb(219, 219, 219);
      }
  
      .show__el:active {
        background-color: rgb(192, 192, 192);
      }
    }
  }
  .pagination__container {
    margin-top: 10px;
    height: 38px;
    display: flex;
    justify-content: center;
  }
}